<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>xyz_assoc</param-value>
    </context-param>
    <servlet>
        <servlet-name>test1</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>servlets.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimServlet</servlet-name>
        <servlet-class>servlets.ClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChargeMembershipServlet</servlet-name>
        <servlet-class>servlets.ChargeMembershipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleStatusServlet</servlet-name>
        <servlet-class>servlets.HandleStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleClaimsServlet</servlet-name>
        <servlet-class>servlets.HandleClaimsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilterServlet</servlet-name>
        <servlet-class>servlets.AdminFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test1</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/dashboard/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimServlet</servlet-name>
        <url-pattern>/dashboard/claim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChargeMembershipServlet</servlet-name>
        <url-pattern>/admin/charge-members</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleStatusServlet</servlet-name>
        <url-pattern>/admin/update-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleClaimsServlet</servlet-name>
        <url-pattern>/admin/update-claims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilterServlet</servlet-name>
        <url-pattern>/admin/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edit-user</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
